<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282845451020-76m6bjr1d0jcv3hav35r56in9et4lhqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282845451020-76m6bjr1d0jcv3hav35r56in9et4lhqs</string>
	<key>API_KEY</key>
	<string>AIzaSyBc-b8Ug_Dg6wjncWlMJzJQ5z3lhqxdsPM</string>
	<key>GCM_SENDER_ID</key>
	<string>282845451020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unze.unze-app</string>
	<key>PROJECT_ID</key>
	<string>unze-london-dae6f</string>
	<key>STORAGE_BUCKET</key>
	<string>unze-london-dae6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282845451020:ios:deeb82731788fbe03f2f29</string>
</dict>
</plist>